{% extends 'base.html' %}
{% load static cloth %}

{% block title %}
  Личный кабинет
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="account">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <h1>Личный кабинет</h1>
        </div>
        <div class="col-12 d-flex align-items-center">
          <p style="font-size: 20px" class="my-3 font-weight-bold">{{user.last_name}} {{user.first_name}} {{user.patronymic}}
          </p>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <div class="mr-2">
            <img width="20" src="{% static 'images/Phone.png' %}" alt="Address">
          </div>
          <p>Телефон: {{user.phone}}</p>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center">
          <div class="mr-2">
            <img width="20" src="{% static 'images/Mail.png' %}" alt="Address">
          </div>
          <p>E-mail: {{user.email}}</p>
        </div>
      </div>
      {% favourites user.id %}
    </div>
  </section>
{% endblock content %}



