{% extends 'base.html' %}
{% load static cloth %}

{% block title %}
  Личный кабинет
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="account">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <h1>Личный кабинет</h1>
        </div>
        <div class="col-12">
          <p style="font-size: 20px" class="my-3 font-weight-bold">{{user.last_name}} {{user.first_name}} {{user.patronymic}}
            <a href="{% url 'logout' %}">
              Выйти из аккаунта
            </a>
          </p>
        </div>
        <div class="col-12 col-lg-4">
          <p>Телефон: {{user.phone}}</p>
        </div>
        <div class="col-12 col-lg-4">
          <p>E-mail: {{user.email}}</p>
        </div>
      </div>
      {% favourites user.id %}
    </div>
  </section>
{% endblock content %}



