@import "index.css";


@font-face {
  font-family: "P131";
  src: url("../fonts/ofont.ru_P131.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.navbar-section {
  background-color: #080A07;
  height: 120px;
}

.navbar-section__img{
  height: 67px;
}

.drawer-toggle{
  cursor: pointer;
}

.beginning-block{
  background: rgba(35, 38, 35, 0.9);
  margin-top: 180px;
  margin-bottom: 30px;
}

.beginning-subtitle {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  margin-bottom: 230px;
}

.beginning-title{
  font-family: "P131";
  font-weight: 400;
  font-size: 160px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
  color: #FFFFFF;
}

.beginning-arrow {
  width: 100px;
  margin-bottom: 140px;
}

.beginning{
  background: url(../images/bg.png) 0 0/cover no-repeat;
}

.form-items {
  margin-bottom: 15px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-btn {
  color: #fff;
  background: #080A07;
  padding: 10px 30px;
  border: 1px solid #080A07;
}

.main-btn:hover {
  color: #080A07;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #080A07;
}

.login, .logout, .thanks {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.login-box__logo {
  width: 100px;
  margin-bottom: 25px;
}

.form-box{
  margin: 10px ;
  display: flex;
  justify-content: center;
}

.login-error{
  width: 100%;
  margin-top: 15px;
}

.login-error__text{
  color: red;
}

.login-url{
  color: #080A07;
}
.login-url:hover{
  color: #080A07;
}

.navbar-section .nav-link {
  color: #fff;
}
.navbar-section .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}