@import "index.css";


@font-face {
  font-family: "P131";
  src: url("../fonts/ofont.ru_P131.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.navbar-section {
  background-color: #080A07;
  height: 120px;
}

.navbar-section__img{
  height: 67px;
}

.drawer-toggle{
  cursor: pointer;
}

.beginning-block{
  background: rgba(35, 38, 35, 0.9);
  margin-top: 180px;
  margin-bottom: 30px;
}

.beginning-subtitle {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  margin-bottom: 230px;
}

.beginning-title{
  font-family: "P131";
  font-weight: 400;
  font-size: 160px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
  color: #FFFFFF;
}

.beginning-arrow {
  width: 100px;
  margin-bottom: 140px;
}

.beginning{
  background: url(../images/bg.png) 0 0/cover no-repeat;
}

.form-items {
  margin-bottom: 15px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-btn {
  color: #fff;
  background: #080A07;
  padding: 10px 30px;
  border: 1px solid #080A07;
}

.main-btn:hover {
  color: #080A07;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #080A07;
}

.login, .logout, .thanks {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.login-box__logo {
  width: 100px;
  margin-bottom: 25px;
}

.form-box{
  margin: 10px ;
  display: flex;
  justify-content: center;
}

.login-error{
  width: 100%;
  margin-top: 15px;
}

.login-error__text{
  color: red;
}

.login-url{
  color: #080A07;
}
.login-url:hover{
  color: #080A07;
}

.navbar-section .nav-link {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.105em;
}
.navbar-section .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.about-platform {
  background: #232322;
  color: #fff;
  padding: 100px 0;
}

.about-platform__title{
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.105em;
}

.about-platform__banner{
  border: 2px solid #fff;
  text-align: center;
  width: max-content;
  font-size: 30px;
  padding: 40px 70px;
  margin-top: 115px;
  letter-spacing: 0.105em;
  margin-bottom: 100px;
}

.about-platform__banner:hover {
  opacity: .7;
}

.about-platform-item{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.about-platform-item__text{
  font-size: 25px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
}

.about-platform-item__img{
  min-width: 90px;
  max-width: 90px;
}

.about-fabrics{
  background: url(../images/bg-about-fabrics.png) 0 0/cover no-repeat;
  padding-top: 150px;
}

.about-fabrics .col-12{
  padding-left: 0;
  padding-right: 0;
}

.about-fabrics__title{
  font-family: "P131";
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.2);
  font-size: 100px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  text-align: center;
}

.about-fabrics-case{
  display: flex;
  justify-content: center;
  margin: 60px 40px;
}

.footer{
  background:  #232322;
  color: #fff;
}

.footer-title {
  font-size: 30px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
  margin-top: 150px;
  margin-bottom: 40px;
}

.footer-number, .footer-email{
  font-weight: 300;
  font-size: 30px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
  margin-bottom: 40px;
}

.footer-email{
  color: #fff;
  text-decoration: none;
}
.footer-email:hover{
  color: #fff;
  text-decoration: none;
}


.footer-lk a{
  font-size: 30px;
  line-height: 134.97%;
  letter-spacing: 0.105em;
  text-decoration: none;
  color: #fff;
  margin-bottom: 120px;
}

.footer-logo{
  padding-bottom: 70px;
}

.cloth-list__img{
  height: 200px;
}

.cloth-link {
  text-decoration: none;
  color: #000;
}
.cloth-link:hover {
  text-decoration: none;
  color: #000;
}

.cloth-card-name{
  font-size: 18px;
  font-weight: bold;
}

.cloth-detail__img{
  height: 350px;
}

.cloth-detail-specifications p {
  margin-bottom: 10px;
  font-size: 18px;
}

.cloth-detail-heart{
  cursor: pointer;
}

.cloth-detail-input__text{
  height: 150px;
}

.feedback-box{
  background: rgb(231, 231, 231);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.feedback-box__date{
  font-size: 12px;
  margin-left: 5px;
  color: rgb(127, 127, 127);
}

.supplier-list__img{
  width: 50px !important;
}

.supplier-list-district{
  font-size: 13px;
}

.supplier-detail__img{
  width: 75px;
}

.cloth-list-form {
  height: 35px;
  margin-right: 5px;
}

.cloth-list-form--name{
  width: 350px;
}

.cloth-list-form--material, .cloth-list-form--color{
  width: 160px;
}

.cloth-list-btn{
  height: 35px;
  margin-right: 5px;
  color: #fff;
  background: #080A07;
  border: 1px solid #080A07;
}


.cloth-list-btn:hover {
  color: #080A07;
  background: #fff;
  border: 1px solid #080A07;
}

.cloth-list-reset{
  color: #080A07;
}
.cloth-list-reset:hover{
  color: #080A07;
}

.about-fabrics-low img {
  width: 200px;
  margin-bottom: 15px;
}
.about-fabrics-low p {
  font-size: 20px;
}

.about-fabrics-low__a{
  text-decoration: none;
  color: #fff;
}
.about-fabrics-low__a:hover{
  text-decoration: none;
  color: #fff;
}

.about-fabrics-low{
  background: rgba(79, 110, 89, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 5px;
  margin-bottom: 20px;
}

.showroom-list-name{
  font-size: 18px;
  font-weight: bold;
}


/* 00000000000000000000000000000000000000000000 */

@media (max-width: 991.98px) {
  .about-platform__banner {
    font-size: 25px;
    padding: 30px 30px;
  }
  .beginning-title {
    font-size: 100px;
  }
  .cloth-list-form--name{
    margin-bottom: 10px;
  }
}

/* 000000000000000000000000000000000000000000000 */

@media (max-width: 767.98px) {
  .about-platform__banner {
    font-size: 20px;
    padding: 20px;
  }
  .header-logo{
    width: 200px;
  }

  .navbar-section__img{
    width: 40px;
  }

  .header-burger{
    width: 40px;
  }

  .navbar-section{
    padding-top: 20px;
  }
  .beginning-subtitle {
    font-size: 30px;
  }
  .about-platform-item__text{
    font-size: 20px;
  }
  .about-platform-item__img {
    min-width: 70px;
    max-width: 70px;
  }
  .about-fabrics__title{
    font-size: 60px;
  }
  .about-fabrics__title{
    margin-bottom: 15px;
  }
}

/* 00000000000000000000000000000000000000000000 */



@media (max-width: 575.98px) {
  .about-platform__banner {
    font-size: 18px;
    padding: 10px;
    width: auto;
  }

  .about-platform__title{
    font-size: 35px;
  }
  .beginning-title {
    font-size: 45px;
  }
  .beginning-subtitle {
    font-size: 20px;
  }
  .beginning-arrow{
    width: 40px;
  }
  .footer-title{
    font-size: 25px;
    text-align: center;
  }
  .footer-number, .footer-email{
    font-size: 20px;
    text-align: center;
  }
  .footer-lk a {
    font-size: 25px;
  }
  .footer-logo {
    width: 250px;
  }
  .cloth-list-form--material{
    margin-bottom: 10px;
  }
  .cloth-list-form--name{
    width: 90%;
  }
  .cloth-detail__title{
    font-size: 30px;
  }
  .cloth-detail-specifications{
    margin-top: 10px;
  }
  .feedback-box {
    padding: 10px;
  }
  .supplier-detail__title{
    font-size: 25px;
  }
}