{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}
  Каталог поставщиков
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="supplier-list">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <h1>
            Каталог поставщиков
          </h1>
        </div>
        <div class="col-12 my-4 d-lg-flex align-items-center">
          <p class="mr-2">Поиск</p>
          <form class="d-lg-flex align-items-center" method="GET">
            {% render_field filter.form.address class="cloth-list-form cloth-list-form--name" placeholder="Введите адрес"%}
            {% render_field filter.form.district class="cloth-list-form cloth-list-form--material" %}
            <button type="submit" class="btn cloth-list-btn">Найти</button>
            <a class="cloth-list-reset" href="{% url 'cloth:supplier-list' %}" type="submit">Сбросить</a>
          </form>
        </div>
        {% if filter.qs|length == 0 %}
          <div class="col-12 text-center">
            <h3>
              Ничего не найдено
            </h3>
          </div>
        {% elif filter.qs|length > 0 %}
          {% for item in filter.qs %}
            <div class="col-12 mb-4">
              <a class="cloth-link" href="{% url 'cloth:supplier-detail' pk=item.pk %}">
                <div class="card h-100">

                  <div style="position: relative;" class="card-body">
                    <div class="row h-100">
                      <div class="col-3 d-flex align-items-center justify-content-center">
                        {% if item.logo %}
                          <img src="{{item.logo.url}}" alt="image" class="supplier-list__img">
                        {% endif %}
                      </div>
                      <div class="col-9 d-flex flex-column justify-content-center">
                        <p class="cloth-card-name">{{item.name}}</p>
                        <p class="supplier-list-district">{{item.get_district_display}} округ</p>
                        <p class="supplier-list-district">{{item.address}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}

