{% extends "base.html" %}
{% load static %}

{% block title %}
  Каталог поставщиков
{% endblock title %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="supplier-list">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <h1>
            Каталог поставщиков
          </h1>
        </div>
        {% if object_list|length == 0 %}
          <div class="col-12 text-center">
            <h3>
              Пока ничего не добавлено
            </h3>
          </div>
        {% elif object_list|length > 0 %}
          {% for item in object_list %}
            <div class="col-12 mb-4">
              <a class="cloth-link" href="{% url 'cloth:supplier-detail' pk=item.pk %}">
                <div class="card h-100">

                  <div style="position: relative;" class="card-body">
                    <div class="row h-100">
                      <div class="col-3 d-flex align-items-center justify-content-center">
                        {% if item.logo %}
                          <img src="{{item.logo.url}}" alt="image" class="supplier-list__img">
                        {% endif %}
                      </div>
                      <div class="col-9 d-flex flex-column justify-content-center">
                        <p class="cloth-card-name">{{item.name}}</p>
                        <p class="supplier-list-district">{{item.get_district_display}} округ</p>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}

