{% load static %}

<section class="about-platform">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="about-platform__title">о платформе</h1>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a style="text-decoration: none; color: #fff" href="#">
          <div class="about-platform__banner">
            Поиск надёжных поставщиков в один клик
          </div>
        </a>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item1.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            Только экологичные материалы
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item4.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            Простой и понятный интерфейс
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item2.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            База поставщиков со всей России
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item5.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            Удобные фильтры для поиска
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item3.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            Возможность общения с другими дизайнерами
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="about-platform-item">
          <div class="about-platform-item__img">
            <img src="{% static 'images/about-platform-item/about-platform-item6.png' %}" alt="">
          </div>
          <div class="about-platform-item__text">
            Поставщики текстильных и технических тканей
          </div>
        </div>
      </div>
    </div>
  </div>
</section>