{% load static %}

<section class="about-fabrics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="about-fabrics__title">
          Каталог тканей
        </div>
      </div>
      <div class="col-12">
        <a href="#">
          <div class="about-fabrics-case">
            <img src="{% static 'images/about-fabrics-case--1.png' %}" alt="">
          </div>
        </a>
      </div>
      <div class="col-12">
        <a href="#">
          <div class="about-fabrics-case">
            <img src="{% static 'images/about-fabrics-case--2.png' %}" alt="">
          </div>
        </a>
      </div>
      <div class="col-12">
        <a href="#">
          <div class="about-fabrics-case">
            <img src="{% static 'images/about-fabrics-case--3.png' %}" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>